body{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Header section*/

header{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*Sign up section*/

.sign-up{
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    margin: 0px;
    padding: 30px;
    background-color: #1F2937;
}

.text{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 12px;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.image img{
    width: 400px;
    height: auto;
}
.information{
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up button{
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
    border-radius: 5px;
    padding: 6px 15px;
    flex-shrink: 0;
}

button{
    border: none;
}

/*info with images section*/

.info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
}

.info-title{
    align-self: center ;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.info img{
    width: 150px;
    height: auto;
    border: 3px solid #1F2937;
    border-radius: 8px;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.one,.two,.three,.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    text-align: center;
    gap: 10px;
    align-items: center;
    color: gray;
}

/* Quote section */

.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #e5e7eb;
}

.quote{
    display: flex;
    text-align: start;
    font-style: italic;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 36px;
    color: #1F2937;
}

.author{
    align-self: flex-end;
    margin-right: 200px;
    font-weight: bold;
}

/* Sign up end section */

.sign-up-end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.blue-square{
    display: flex;
    gap: 90px;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 10px 20px;
}

.sign-up-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
}

.blue-square button{
    display: flex;
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    border-radius: 3px;
    width: 80px;
}